.sidebar {
  border-right: rem(1) solid rgba(255, 255, 255, 0.1);

  display: flex;
  flex-direction: column;
  row-gap: rem(25);
  padding-inline: rem(20);

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(10);
    // transition: all 0.2s;
    outline: rem(2) solid rgba(255, 255, 255, 0);

    &:focus-visible {
      outline: rem(2) solid rgba(255, 255, 255, 0.2) !important;
      // outline-offset: rem(2);
    }

    border: rem(1) solid rgba(255, 255, 255, 0.1);
    border-radius: rem(10);
    padding: rem(10);
    transition: all 0.2s;
    cursor: pointer;

    &__wrapper {
      display: flex;
      align-items: center;
      gap: rem(15);
      flex: 1;
      min-width: 0;
    }

    &__shop-icon {
      width: rem(30);
      min-width: rem(15);
      flex-shrink: 0;
    }

    &__shop-title-wrapper {
      display: flex;
      flex: 1;
      min-width: 0;

      display: -webkit-box;
      line-clamp: 1;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__chevron {
      width: rem(20);
      min-width: rem(20);
      flex-shrink: 0;
    }

    @include hover {
      background-color: rgba(255, 255, 255, 0.09);
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: rem(15);
  }

  &-item {
    @include fluid-text(18, 14);

    transition: all 0.2s;

    display: flex;
    align-items: center;
    column-gap: rem(8);

    width: 100%;
    padding-block: rem(8);
    color: rgb(95, 95, 95);

    border-radius: rem(5);

    cursor: pointer;

    @include hover {
      background-color: rgba(255, 255, 255, 0.09);
      color: oklch(100% 0.00011 271.152);
    }
  }

  &-icon {
    flex: 1;
  }

  &-label {
    flex: 6;
  }
}
