.catalog-page {
  display: flex;
  flex-direction: column;
  gap: rem(20);
}

.catalog-title {
  &-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: rem(20);
  }
}

.number-product-found {
  color: var(--color-gray);
}
